<html>
    <head></head>
    <body ng-app="masterDetailApp" style="margin: 10px">
        <script src="bower_components/angular/angular.js"></script>
        <script src="src/httpStore.js"></script>
        <script src="src/data.js"></script>

        <script>
            angular.module('masterDetailApp', [
                'atsid.data'
            ]).config(function (httpStoreProvider, dataSourceProvider) {
                dataSourceProvider.setStoreUrl("api");
                dataSourceProvider.addRoutes([{
                    path: "contacts/:contactId",
                }, {
					path: "contacts/:contactId/addresses/:addressId",
					fields: "sup"
                }]);
            })
            .controller('MasterCtrl', ['$scope', 'dataSource', function ($scope, dataSource) {
                var contactDs = dataSource("contacts"),
					addressDs = contactDs.child("addresses");

                contactDs.query().then(function (resp) {
                    $scope.contacts = resp.data;
                });

                $scope.selectContact = function (contact) {
                    $scope.selectedContact = contact;
                    addressDs.setParentItem(contact);
                    addressDs.query().then(function (resp) {
						$scope.addresses = resp.data;
                    });
                };

                $scope.saveContact = function (contact) {
					var isNew = !contact.hasOwnProperty("id");
					contactDs.save(contact).then(function (resp) {
						if (isNew) {
							$scope.contacts.push(resp.data);
						}
					});
                };

                $scope.newContact = function () {
					$scope.selectedContact = {};
                };

            }]);
        </script>

        <div style="width:500px" ng-controller="MasterCtrl">
            <div style="float:left; margin: 0px 20px; padding: 0px">
                <ul style="padding: 0; margin: 0">
                    <li ng-repeat="contact in contacts">
                        <a ng-click="selectContact(contact);">{{ contact.name }}</a>
                    </li>
                    <li>
                        <button ng-click="newContact();">New</button>
                    </li>
                </ul>
            </div>
            <div ng-switch="!!selectedContact">
                <form class='span8' name="form" ng-switch-when="true">
                    <label>Name * <input type="text" ng-model="selectedContact.name" required></label>
                    <div style="text-align:right">
                        <button ng-disabled="!form.$valid" ng-click="saveContact(selectedContact);">Save</button>
                    </div>
                </form>
                <div ng-switch-default>
                    Select an item in the list.
                </div>
            </div>

        </div>
    </body>
</html>